@import "./animation";
@import "./colors";

// font-family: 'Dancing Script', cursive;
// font-family: 'Montserrat', sans-serif;
// // font-family: 'Roboto', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	// border: 1px solid red;
}

body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	min-height: 150vh;
	font-family: "Montserrat", sans-serif;
	width: 100%;
	// background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.app-body {
	width: 800px;
	min-height: 500px;
	border-radius: 8px;
	box-shadow: 3px 3px 23px 3px rgba(66, 68, 90, 1);
	background-color: #fff;
}
.app-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	border-radius: 8px;
}

h1 {
	color: white;
	text-transform: uppercase;
}

.app-box-input {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	input {
		width: 70%;
		border-radius: 5px;
		border: none;
		text-align: left;
		padding: 10px 20px;
		color: rgba(66, 68, 90, 1);
	}

	.add-task {
		margin-left: 20px;
		padding: 10px 20px;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		font-weight: bold;
		color: rgb(114, 115, 128);
		background: white;
		transition: background-color 0.3s, color 0.3s;
	}

	.add-task:hover {
		background-color: rgb(90, 90, 90);
		color: #fff;
	}
}

.app-bottom {
	h2 {
		text-align: center;
		margin-top: 15px;
	}

	.tasks-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		// border: 1px solid red;
	}
	.task {
		// border: 1px solid blue;
		margin: 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		width: 95%;
		background-color: #f1f1f1;
		border-radius: 7px;
		
	}
	.content-task {
		padding: 0 20px;
		font-weight: 200;
		max-width: 75%;
		overflow-wrap: break-word;
	}
	.box-buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		.btntask{
			border: none;
			background: none;
		}
		i {
			margin: 0 5px;
			padding: 10px;
			cursor: pointer;
		}
		.fa-check{
			color: #6877e0;
		}
		.edit {
			color: green;
			cursor: pointer;
			padding: 10px;
		}

		.fa-x {
			color: red;
			cursor: pointer;
		}
	}
}

.edit-body {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 3px 3px 23px 3px rgba(66, 68, 90, 1);
	border-radius: 5px;

	width: 800px;
	height: 250px;

	background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
	background-blend-mode: multiply;

	h2 {
		// text-transform: uppercase;
		// margin: 10px 0;
		text-align: center;
		color: white;
	}

	input {
		border-radius: 5px;
		border: none;
		text-align: left;
		padding: 10px 20px;
		color: rgba(66, 68, 90, 1);
		width: 90%;
	}

	.edit-box-buttons {
		display: flex;
		justify-content: space-around;
		width: 80%;
	}
	button {
		text-transform: uppercase;
		padding: 10px 80px;
		font-size: 16px;
		background-color: #fff;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		letter-spacing: 1px;
		transition: background-color 0.3s, color 0.3s;
	}

	button:hover{
		background-color: #6d69cc;
		color: white;
	}

}

.completed{
	text-decoration: line-through;
	
	font-style: italic;
}

.error{
	opacity: 0;
	letter-spacing: 1px;
	color: red;
	margin: 10px;
	text-align: center;
}


// @import "./small";
// @import "./medium";
// @import "./large";
